In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
# Dependencies to connect Postgress with Jupyter notebook
from sqlalchemy import create_engine

In [3]:
# Connecting the data base to Jupyter notebook
engine = create_engine('postgresql://postgres:Ayuda52!@localhost:5432/Sharks')

In [4]:
# Reading table Hemisphere
hemispheres_df=pd.read_sql_query('SELECT * FROM Hemisphere;', con=engine)

In [5]:
hemispheres_df.head(100)

   hemisph                              country
0    South                    Admiralty Islands
1   North                           Afghanistan
2    North                Akrotiri and Dhekelia
3    North                              Albania
4    North                              Algeria
..     ...                                  ...
95   South  French Southern and Antarctic Lands
96   South                                Gabon
97   South                    Galapagos Islands
98  North                               Georgia
99   North                              Germany

[100 rows x 2 columns]

In [6]:
hemispheres_df.dtypes

hemisph    object
country    object
dtype: object

In [7]:
path = 'attacks.csv'

In [8]:
# Reading attacks dataset.
attacks_raw_df = pd.read_csv(path, encoding='cp1252')

In [9]:
attacks_raw_df

,Country,Case_Number,Date,Year,Type,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_Y_N,Time,Species,Investigator_ or_ Source,pdf,href
0,USA,2018.06.25,6/25/2018,2018.0,Boating,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
1,USA,2018.06.18,6/18/2018,2018.0,Unprovoked,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
2,USA,2018.06.09,6/9/2018,2018.0,Invalid,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
3,AUSTRALIA,2018.06.08,6/8/2018,2018.0,Unprovoked,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
4,MEXICO,2018.06.04,6/4/2018,2018.0,Provoked,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,AUSTRALIA,ND.0005,Before 1903,0.0,Unprovoked,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6298,AUSTRALIA,ND.0004,Before 1903,0.0,Unprovoked,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6299,USA,ND.0003,1900-1905,0.0,Unprovoked,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6300,PANAMA,ND.0002,1883-1889,0.0,Unprovoked,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,CEYLON (SRI LANKA),ND.0001,1845-1853,0.0,Unprovoked,Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...